<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Review of today</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <h1>Review of today</h1>
            <p>Hotel: <u>{{ hotel.getName() }}</u></p>
            <p>
                {% if review is not null and review is not empty %}
                    {{ review.getText() }}
                {% else %}
                    No reviews yet :(
                {% endif %}
            </p>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
